* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    margin-top: 50px;
}

/* <!------------ 
    Hero-Start 
    -------------> */
.hero {
    background-color: #161616;
    border-radius: 30px;
    display: flex;
    width: 1320px;
    margin: auto;
    margin-bottom: 130px;
}

.hero-info {
    padding: 7.5% 0 9% 7.5%;
    width: 50%;
}

.hero-info h1 {
    font-weight: 700;
    font-size: 3rem;
    color: white;
    line-height: 1.2em;
}

.hero-info p {
    font-weight: 200;
    font-size: 15px;
    color: white;
    padding: 15px 0 35px 0;
}

.watch-live {
    text-decoration: none;
    color: #DD0000;
    padding: 10px 15px;
    border: 3px solid #DD0000;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.7s;
    background-image: linear-gradient(to right, transparent 50%, #DD0000 50%);
    background-size: 210%;
    background-position: 0%;
}

.hero-info a i {
    margin-left: 5px;
}

.hero-image {
    display: grid;
    width: 50%;
}

.hero-image img {
    width: 70%;
    margin: auto;
    margin-left: 50px;
    margin-bottom: inherit;
}

/* <!------------ 
    Informations-Start 
    -------------> */
.informations {
    display: flex;
    width: 1320px;
    margin: auto;
    margin-bottom: 130px;
}

aside {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 24px;
    padding: 0 27px;
}

aside div {
    width: 252px;
    height: 64px;
    background-color: white;
    border-radius: 10px;
    display: grid;
}

aside div a {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    margin: auto;
    line-height: 64px;
    text-decoration: none;
    color: black;
}

.blog {
    background-color: #DD0000;
}

.blog a {
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}

.blog-box {
    width: 312px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog-info {
    padding: 18px 20px;
}

.blog-info a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 4px 20px;
}

.blog-info h4 {
    padding: 20px 0;
}

.blog-info span {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(22, 22, 22, 0.7);
}

.time-comment {
    padding: 0 40px 0 5px;
}

.view-more {
    display: none;
}

/* <!------------ 
   Footer-Start 
-------------> */
footer {
    height: 444px;
    background-color: #161616;
    display: grid;
}

.footer-info {
    margin: auto;
    width: 1320px;
    text-align: center;
}

.footer-info h2 {
    color: white;
    font-weight: 600;
    font-size: 40px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 50px 0;
}

.footer-info ul li a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    transition: 0.8s;
}

.social-icon {
    margin-top: 40px;
}

.social-icon a {
    color: white;
    font-size: 25px;
    padding: 0 20px;
    transition: 0.7s;
}

/* <!------------ 
   annimation-Start 
-------------> */
.watch-live:hover {
    color: white;
    background-position: 100%;
}

ul li a:hover {
    color: #DD0000;
}

.social-icon a:hover {
    color: #DD0000;
}

/* <!------------ 
  Media-Querries 
-------------> */
/* Mobile */
@media only screen and (max-width: 688px) {

    /* hero-start */

    .hero {
        width: 334px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 39px;
    }

    .hero-info {
        padding: 10% 0;
        width: 80%;
        text-align: center;
    }

    .hero-info h1 {
        font-weight: 700;
        font-size: 1.5em;
        color: white;
        line-height: 1.2em;
    }

    .hero-info p span {
        display: none;
    }

    .hero-image {
        display: grid;
        width: 100%;
    }

    .hero-image img {
        margin: auto;
        width: 70%;
    }

    /* Informations-Start */
    .informations {
        flex-direction: column;
        width: 334px;
    }

    aside {
        width: 334px;
        background: none;
        display: grid;
        margin-right: 0;
        padding: 0;

    }

    aside div {
        border: 1px solid grey;
    }

    .container {
        width: 334px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 24px;
    }

    .blog-box {
        margin: auto;
    }

    .view-more {
        display: none;
    }

    footer {
        width: 100%;
        height: 500px;
    }

    .footer-info ul li a {
        display: block;
        padding: 10px 0;
    }

    .footer-info {
        margin: auto;
        width: 334px;
        text-align: center;
    }

    hr {
        margin: 20px;
    }

}

/* Tablet */
@media only screen and (min-width: 689px) and (max-width: 992px) {

    /* hero-start */

    .hero {
        width: 734px;
        margin-bottom: 10px;
    }

    .hero-info {
        padding: 10% 0 12% 10%;
        width: 80%;
    }

    .hero-info h1 {
        font-weight: 700;
        font-size: 1.5em;
        color: white;
        line-height: 1.2em;
    }

    .hero-info p span {
        display: none;
    }

    .hero-image {
        display: grid;
        width: 100%;
    }

    .hero-image img {
        margin: auto;
        width: 80%;
        margin-bottom: inherit;
    }

    /* Informations-Start */
    .informations {
        flex-direction: column;
        width: 734px;
    }

    aside {
        width: 734px;
        background: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-right: 0;
        padding: 0;
        margin: -50px 0 -90px 0;

    }

    aside div {
        border: 1px solid grey;
        width: 220px;
        height: 64px;
        background-color: white;
        border-radius: 10px;
        margin: auto;
    }

    .container {
        width: 734px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 28px;
        column-gap: 10px;
    }

    .blog-box {
        margin: auto;
        width: 340px;
    }

    .blog-box img {
        width: 100%;
    }

    .view-more {
        display: inline;
        text-align: center;
        margin-top: 50px;
    }

    footer {
        width: 100%;
        height: 500px;
    }

    .footer-info ul li a {
        display: inline-block;
        line-height: 50px;
    }

    .footer-info {
        margin: auto;
        width: 734px;
        text-align: center;
    }

    hr {
        margin: 20px;
    }

}